*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w-30{
    width: 30%;
}

.letter-spacing{
   line-height: 25px;
    word-spacing: 4px;
}


.hr-row{
   /* background: #006FA6; */
   background: #01233B;
   
   height: 3px;
    width: 90%;
    margin: auto;
}

.h-style{
    margin: 30px 15px;
    font-size: 42px;
}





.center-text{
    text-align: center;
}
.font-alata{
    font-family: 'Alata', sans-serif;
 }

 .font-mono{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    /* color: gray; */
}

 .text-blue{
    color: #01233B;
}

.text-white{
    color: white;
}



.font-20{
    font-size: 20px;
}

.font-25{
    font-size: 25px;
    
}
.bg-blue{
    background: #01233B;
}


.ptb-15{
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.ptb-30{
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.p-10{
    padding: 10px;   
}

.p-20{
    padding: 20px;   
}

.m-10{
    margin: 10px;
}

.mt-30{
    margin-top: 30px;
}
.mb-20{
    margin-bottom: 20px;
}

.m-20{
margin: 20px;    
}

.font-18{
    font-size: 18px;   
}

.font-40{
    font-size: 40px;
}


.cursor-p{
    cursor: pointer;
}

.border-white{
    border: 1px solid white;
}

.border-radius{
    border-radius: 50px;
}


.box-shadow{
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.shadow-blue{
    box-shadow: 0 15px 20px rgba(0,111,166,0.5);
}


/* brand section */

.brand-section{
    margin: 20px 40px;
    display: flex;
    flex-wrap: wrap;
}



.brand-box{
    /* padding: 10px 10px; */
    text-align: center;
    border-radius: 80px;
    color: white;
    width: 31%;
    height: 150px;
    background: white;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* brand section end */


/* main section start */
.main-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.text-section{
    padding: 40px;
    align-self: center;
    
}


/* pet gear section */
.pet-gear{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
}

.dog-image,.cat-image{
    width: 90%;
    padding: 20px;
   
}



.video-box{
    width: 70%;
    margin: auto;
    
}

.products-gear{
    width: 80%;
    margin: 20px auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-content{
    align-self: center;
}

.carousel-gear{
    width: 70%;
    margin: 20px auto;
    /* border:1px solid red;    */
}


/* test section css */
.product-weight{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.weights{
    width: 27%;
    padding: 10px;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

.w-size{
    font-size: 40px;
    /* padding-right: 10px; */
}



.weight-image{
    padding: 30px;
}




@media (max-width: 992px){
 
 
}

.rogz-fan{
    width: 70%;
    margin: 30px auto;
    
}




@media (max-width: 768px){
    .main-section, .pet-gear{
        grid-template-columns: 1fr;
    }


    .font-change-sm{
        font-size: 30px;
    }

    .brand-section{
        margin: 10px 15px;
    }
    .brand-box{
        width: 45%;
        height: fit-content;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .products-gear{
        grid-template-columns: 1fr;
    }
    /* .product-weight{
        
        flex-direction: column;
    } */
    .weights{
        width: 45%;
    }
    .h-font-sm{
        font-size: 20px;
    }
    
 
}

@media (max-width: 600px){
 
    .font-change-sm{
        font-size: 25px;
    }
    .font-smd{
        font-size: 13px;
        line-height: 15px;
        word-spacing: 4px;
    }
    .brand-box{
        width: 90%;
    }
    .weights{
        width: 90%;
    }
 
}


@media (max-width: 425px){
 
    .font-change-sm{
        font-size: 20px;
    }
    .font-smd{
        font-size: 12px;
    }
    .weights{
        width: 90%;
    }
}


